@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


:root {
    --cor0:#000000;
    --cor01:#3BD480;
     --cor02:#32D6AA;
      --cor03:#88A1A5;

      --fonte-padrão: Arial, Verdana, helvetica, sans-serif;
      --fonte-destaque:"Bebas Neue", 'cursive';
      --fonte-android: 'Android', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor01);
    font-family: var(--fonte-padrão);
}

a.externo::after {
    content: '\1F517';
}



header {
   background-image: linear-gradient(to bottom, var(--cor01), var(--cor03));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > p {
    color: white;
    font-size: 1.2em    ;
    font-family: var(--fonte-padrão);
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.345);
    margin: auto;
}

header > h1{
        color: white;
        font-family: var(--fonte-destaque);
        font-size: 3em;
        margin-bottom: 10px;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.345);
       
    }

    nav {
        background-color: var(--cor03);
        padding: 10px;
        box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.386);
    }

    nav > a {
        color: white;
        padding: 15px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition-duration: 0.8s;
    }

    nav > a:hover {
        background-color: var(--cor02);
        color: var(--cor03);
    }

    main {
        
        padding: 20px;
        min-width: 300px;
        max-width: 1400px;
        margin:auto;
        margin-bottom: 30px;
        background-color: white;
        box-shadow: 0px 0px 10px black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    main  h1 {
        color: var(--cor01);
        font-family: var(--fonte-android);
    }

    main  h2 {
        font-family: var(--fonte-android);
        color: var(--cor02);
        font-size: 1.3em;
    }

           
     main p {
        margin: 15px 0px;
        text-align: justify;
        text-indent: 30px;
        font-size: 1em;
        line-height: 2em;
     }

     main strong {
        color: var(--cor01);
        font-weight: bold;
     }

     main a {
        color: var(--cor03);
        font-weight: bold;
     }

     main a:hover{ 
        text-decoration: underline;
        color: var(--cor01) ;
     }
        

    main img{

        width: 100%;
    }

    main img.pequena {
       max-width: 350px;
        display: block;
        margin: auto;
    }

    div.video {
        margin: 0px -20px 30px -20px;
        padding: 20px;
        padding-bottom: 50%;
        position: relative;
    }
        div.video > iframe {
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;

        }

    aside {
        background-color: aquamarine;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.329);
    }

    aside > h3 {
        background-color: var(--cor03);
        color: white;
        padding: 10px;
        margin: -10px -10px 0px -10px;
        border-radius: 10px;
    }

    aside > ul{
        list-style-type: '\2714\00A0\00A0';
        list-style-position: inside;
        columns: 2;
    }

    footer {
    border-color:var(--cor03);
    color: white;
    text-align: center;
    padding: 8px;
    }